/.build-tools/
/.test-dist/
/.upstream/
/node_modules/
/vendor/
/images/
/css/vendor/
/lib/generated/
/projection/lib/generated/
/projection/lib/ports/mediawiki-cite/
/projection/lib/ports/mediawiki-popups/src/wait.js
/components/BottomDock.vue
/components/Button.vue
/components/Footer.vue
/components/Footer__row.vue
/components/Icon.vue
/components/Indicators.vue
/components/LegacyFooter.vue
/components/LegacyMenu.vue
/components/LegacySearchBox.vue
/components/LegacySidebar.vue
/components/LegacyUserLinks.vue
/components/Link.vue
/components/MenuContents.vue
/components/MenuListItem.vue
/components/skin-legacy.vue
/DEVELOPMENT-PRINCIPLES.md
